<!DOCTYPE html>
<html lang="en">
<head>

    <title>erle-brain2</title>
    <link rel="stylesheet" href="./CSS/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}

    </div>
    {{>footer}}
</body>
</html>