<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quadcopter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-Frame-Options" content="deny">
  <link rel="icon" href="/img/quadcopter.png">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/jupyter.css">

</head>

<body>

  {{>header}}
  <iframe src="http://192.168.1.7:5555/" scrolling="no"></iframe>
</body>

</html>