<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quadcopter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-Frame-Options" content="deny">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/jupyter.css">

</head>

<body>

    {{>header}}
    <iframe id="ifrm" src="https://www.google.com/webhp?igu=1" scrolling="no"></iframe>
</body>

</html>