{{!-- Navber --}}
<header>
    <nav id="navbar">
        <h1 class="logo">
            <img src="/img/quadcopter.png" alt="test">
            <span class="text-primary"> Quad</span> rotor
        </h1>

        <ul>
            <li><a href="/">ROS</a></li>
            <li><a href="/wifi">Wifi</a></li>
            <li><a href="/terminal">Terminal</a></li>
            <li><a href="/about">Jupyter</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>