* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p {
  padding: 0.75rem 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* Utility Classes */

.text-primary {
  color: #93cb52;
}
.logo{
  display: flex;
  justify-content: baseline;
}
/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 1rem;
  top: 0;
  background: #333;
  color: #fff;
  z-index: 1;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.2rem;
}

#navbar ul li a:hover{
  background: #93cb52;
  border-radius: 5px;
}
#navbar span{
  padding-left: 10px;
  padding-right: 5px;
}

img{
  width: 2rem;
  height: auto;
  background: #93cb52;
  border-radius: 5px;
}

/* Iframe style */
iframe{
  position: fixed;
  width:		100vw;
  height:		100vh;
}



/* 
.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait {
    width: 250px;
}

/*   table style   */

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  } */

/*      switch  style      */

/* .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 20px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color:  #19e83f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #19e83f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */

/* .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */

/*   Hospot style  */

/* .hotspot{
      display: flex;
  }

  .hotspot > p {
      padding-top:  8px;
      display: inline-block;
      font-weight: bold; 
  }  */