*{
    box-sizing: border-box ;

    font-family: 'Noto Sans', sans-serif; 
}

body {
    color: #333333;
    font-display: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait {
    width: 250px;
}

/*   table style   */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

  /*      switch  style      */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 20px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color:  #19e83f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #19e83f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /*   Hospot style  */
  .hotspot{
      display: flex;
  }

  .hotspot > p {
      padding-top:  8px;
      display: inline-block;
      font-weight: bold;
  }
  


